<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page Hogwarts</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap" rel="stylesheet">
    
  <link rel="stylesheet" href="plugin/components/Font Awesome/css/font-awesome.min.css">
     <link rel="stylesheet" href="plugin/whatsapp-chat-support.css">

</head>


<body>
    <header class="hero">
        <div class="textos-hero">
            <h1>Welcome to  Hogwarts</h1>
            <p>Magical and Academic Quality</p>
            <a href="#contacto">Contact Me</a>
        </div>
        <div class="svg-hero" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>


    <section class="wave-contenedor website">
        <img src="/img/ilustracion1.svg" alt="">
        <div class="contenedor-textos-main">
            <h2 class="titulo left">About Us</h2>
            <p class="parrafo">Hogwarts University is a boarding school located in Medellin -Colombia. The castle is located in nearby mountains. The exact location has not been discovered since it is hidden by the most powerful possible enchantments. However, according to Daniel Quintero, it is not far from the picacho. The enchantments that protect the castle are classified as anti-apraction enchantments and repellent charms of Neas, which make them see some learning ruins with a sign that says "danger, prohibited the passage". These enchantments can be raised by the director. Most electronic devices do not work on Hogwarts land.</p>
            <a href="https://harrypotter.fandom.com/es/wiki/Historia_de_Hogwarts" class="cta">Learn more</a>

        </div>
    </section>

    <section class="info">
        <div class="contenedor">
            <h2 class="titulo left">Work hard is important, but there is something that matters more, believe in yourself</h2>
            <p>Harry potter . (Graduated to Hogwarts)</p>
        </div>
    </section>

    <section class="cards contenedor">
        <h2 class="titulo">Our Services</h2>
        <div class="content-cards">
            <article class="card">
                <i class="far fa-clone"></i>
                <h3>Enchantment</h3>
                
                <a href="https://harrypotter.fandom.com/es/wiki/Hechizos_de_apertura" class="cta">Learn more</a>
            </article>
            <article class="card">
                <i class="fas fa-database"></i>
                <h3>Magic Cloud Storage</h3>

                <a href="" class="cta">Learn more</a>
            </article>
            <article class="card">
                <i class="far fa-object-group"></i>
                <h3>Magic photography</h3>
                <a href="https://harrypotter.fandom.com/es/wiki/Retratos" class="cta">Learn more</a>
            </article>
        </div>
    </section>

    <section class="galeria">
        <div class="contenedor">
            
            <h1 class="titulo">FACULTY</h1>
            <article class="galeria-cont">
                
                <img src="/img/Slytherin.jpg" alt="" title="Slytherin" >.

                <img src="/img/Ravenclaw.jpg" alt=""  title="Ravenclaw">
                
                <img src="/img/Hufflepuff.jpg" alt="" title="Hufflepuff">
              
                <img src="/img/Gryffondor.jpg" alt=""title="Gryffondor">
                
                
            </article>
        </div>
    </section>

    <section class="info-last">

        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Registration</h2>
                <p class="parrafo">Hogwarts sends a Letter of Acceptance to the student who has been accepted.
                    <br></br>
                    In the letter a student is informed that he has an enrollment at Hogwarts
                    <br></br>
                    The acceptance or rejection of a vacancy at Hogwarts must be sent before July 31.
                    <br></br>
                    For the average students, they are expected to buy their materials in the shops of "la bastilla",

                     a secret street near the COLTEJER building (in Medellin). Students who cannot afford such materials can receive financial aid from the University.</p>
                
            </div>
            <img src="/img/ESTUDIANTES.jpg" alt="">
        </div>
        
        <div class="svg-wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #07c226;"></path>
        </svg></div>
    </section>

    <footer id="contacto">
        <div class="contenedor">
            <h2 class="titulo">Contact us</h2>
            <form action="https://formsubmit.co/garciajulian010@gmail.com" method="POST" id="contactForm"
                        data-sb-form-api-token="API_TOKEN" class="form">
                <input class="input"  type="text"   placeholder="Name"  name="nombre" class="form-control" id="name" type="text" data-sb-validations="required" for="name">

                <input class="input"  type="email" name="email" id="email" placeholder="Email" class="form-control"  type="text" data-sb-validations="required" for="email">
                
                <textarea  class="input" name="message" id="message" cols="30" rows="10" placeholder="Messages" class="form-control"  type="text" data-sb-validations="required" for="message"></textarea>
                <input class="input"  type="submit" value="Send">

              <!--   <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="http://localhost:4000/">-->
            </form>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
 
 <!-- Button Whatsapp Structure -->
  <div class="whatsapp_chat_support wcs_fixed_right" id="button-w">
    <div class="wcs_button_label">
            Contáctanos
        </div>  
    <div class="wcs_button wcs_button_circle">
        <span class="fa fa-whatsapp"></span>
    </div>  
 
    <div class="wcs_popup">
        <div class="wcs_popup_close">
            <span class="fa fa-close"></span>
        </div>
        <div class="wcs_popup_header">
            <span class="fa fa-whatsapp"></span>
            <strong>Servicio De Atencion Hogwarts</strong>
            
            <div class="wcs_popup_header_description">¿Necesita ayuda? Chatea con nosotros en Whatsapp</div>

        </div>  
        <div class="wcs_popup_input" 
            data-number="573007668686"
            data-availability='{ "monday":"07:00-22:30", "tuesday":"07:00-22:30", "wednesday":"07:7030-22:30", "thursday":"07:00-22:30", "friday":"07:00-22:30", "saturday":"09:00-18:30", "sunday":"09:00-22:30" }'>
            <input type="text" placeholder="Escribir pregunta!" />
            <i class="fa fa-play"></i>
        </div>
        <div class="wcs_popup_avatar">
            
        </div>
    </div>
</div>


    <!-- jQuery 1.8+ -->
<script src="plugin/components/jQuery/jquery-1.11.3.min.js"></script>
    <!-- Plugin JS file -->
<script src="plugin/components/moment/moment.min.js"></script>
<script src="plugin/components/moment/moment-timezone-with-data.min.js"></script> <!-- spanish language (es) -->
<script src="plugin/whatsapp-chat-support.js"></script>
<script>
   $('#button-w').whatsappChatSupport({
        defaultMsg : '',
    });
</script>

</body>

</html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    body {margin:0;}
  
    #barraInferior {
    overflow: hidden;
    width: 100%;
    }
    
    #barraInferior ul {
        list-style-type: none;
        margin: 0 auto;
        padding-left: 30% ;
        overflow: hidden;
        background-color: #07c226;
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }
    
    #barraInferior li {
        float: left;
        
    }
    
    #barraInferior li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    #barraInferior li a:hover{
        background-color: #111;
    }
    
    #barraInferior li a:active{
        background-color:#4CAF50;
    }
  </style>
</head>

<body>
  <div id="barraInferior" >
    <ul>
       
       <li id=""><a href="/login">Login </a></li>
      <li id=""><a href="https://drive.google.com/file/d/1asxUUgYfQ8SqlfSH-H6lMRRv4c1g2WGn/view?usp=sharing" target="_blank">Pensum</a></li>
      <li id=""> <a  href="https://www.youtube.com/watch?v=BQrxsyGTztM" target="_blank" >Visit Us</a></li>
      <li id=""><a href="#about"></a></li>
      
    </ul>
    
  </div>
  
</body>

</html>
