<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogwarts</title>

    <link rel="stylesheet" href="/css/estilos2.css">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">
        
        <div class="name__page">
            
              
                <h1>Hogwarts</h1>
            

        </div>

        <div class="options__menu">	

            <a href="/links/indexest" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Home</h4>
                </div>
            </a>

           <a href="#">
                <div class="option">
                    <i class="far fa-file" title="Courses Lists"></i>
                    <h4>Courses Lists</h4>
                </div>
            </a>
            

            <a href="/logout">
                <div class="option">
                    <i class="far fa-id-badge" title="Contacto"></i>
                    <h4>Exit</h4>
                </div>
            </a>
                </div>
            </a>

        </div>

    </div>

    <main>
 </form>
  <form role="form"></form>
  </div>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">
     <span class="cedula profesor">Cedula Profesor:</span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Acción #1</a></li>
    <li><a href="#">Acción #2</a></li>
    <li><a href="#">Acción #3</a></li>
    <li><a href="#">Acción #4</a></li>
  </ul>
</div>
 
 </div>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">
    <span class="asignatura">Asignatura:</span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Acción #1</a></li>
    <li><a href="#">Acción #2</a></li>
    <li><a href="#">Acción #3</a></li>
    <li><a href="#">Acción #4</a></li>
  </ul>
</div>
 
 <div class="form-group">
    <label for="fecha">Fecha:</label>
    <input type="email" class="form-control" id="ejemplo_email_1"
           placeholder="">
           
  </div>
  <div class="form-group">
    <label for="HORA">Hora:</label>
    <input type="email" class="form-control" id="ejemplo_email_1"
           placeholder="">
  </div>
  <div class="form-group">
    <label for="HORA_INICIO">Hora Inicio:</label>
    <input type="email" class="form-control" id="ejemplo_email_1"
           placeholder="">
  </div>
    <div class="form-group">
    <label for="HORA_FIN">Hora Fin:</label>
    <input type="email" class="form-control" id="ejemplo_email_1"
           placeholder="">
  </div>
 <button type="submit" class="btn btn-default">Agregar</button>
</form>
    </main>

    <script src="/js/script.js"></script>
</body>
</html>