<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogwarts</title>

    <link rel="stylesheet" href="/css/estilos2.css">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body id="body">

    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">


            <h1>Hogwarts</h1>


        </div>

        <div class="options__menu">

            <a href="/links/indexest" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Home</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="far fa-file" title="Courses Lists"></i>
                    <h4>Courses Lists</h4>
                </div>
            </a>


            <a href="/logout">
                <div class="option">
                    <i class="far fa-id-badge" title="Contacto"></i>
                    <h4>Exit</h4>
                </div>
            </a>
        </div>
        </a>

    </div>

    </div>

    <main>
        <form method="post" action="/links/admin/grupo">
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="cedula profesor">Profesor:</span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    {{#each profesores}}
                    <li><a href="#">{{nombre}}</a></li>
                    {{/each}}
                </ul>
            </div>

            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="asignatura">Asignatura:</span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    {{#each asignaturas}}
                    <li><a href="#">{{nombre}}</a></li>
                    {{/each}}
                </ul>
            </div>

            <div class="form-group">
                <label for="fecha">Date:</label>
                <input type="email" class="form-control" id="ejemplo_email_1" placeholder="">

            </div>
            <div class="form-group">
                <label for="HORA_INICIO">Start Time:</label>
                <input type="email" class="form-control" id="ejemplo_email_1" placeholder="">
            </div>
           
                <label for="HORA_FIN">Finish Time:</label>
                <input type="email" class="form-control" id="ejemplo_email_1" placeholder="">
            
            <input type="submit" value="Add Group" class="btn btn-success m-2">
        </form>
    </main>

    <script src="/js/script.js"></script>
</body>

</html>